# An * ensures that everything will be ignored.
*

# Whitelist files/folders
!*.yaml
!.gitignore
!*.md
!groups/*
!automations/* 
!entities/* 
!packages/* 
!themes/* 
!www/*
# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored.
ip_bans.yaml
secrets.yaml
known_devices.yaml