
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:
# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

homeassistant:
  name: US Home
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  elevation: !secret homeassistant_elevation
  unit_system: metric
  time_zone: America/New_York
  customize: !include_dir_merge_named customize

# Text to speech
tts:
  - platform: google_translate

group: !include_dir_merge_named groups/
automation: !include_dir_merge_list  automations/
script: !include scripts.yaml
scene: !include scenes.yaml

input_boolean:
  notify_home:
    name: Notify when someone arrives home
    initial: off
    icon: mdi:car


homekit:
