:root {
	--background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1)), url('/custom_css/test/img/a.jpg') no-repeat 0 / cover fixed;
	--background-color: rgba(150,150,150,0.7);
	--filter: blur(1px) brightness(150%) saturate(2);
	--color: rgb(236, 236, 236);
  }

  [data-theme="dark"]{
		--background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/custom_css/test/img/dark.jpg') no-repeat 0 / cover fixed;
		--background-color: rgba(223, 223, 223, 0.4);
		--filter: blur(1px) brightness(50%) saturate(2);
		--color: rgb(212, 212, 212);
	  
}

.valueunit{
	margin-top: 20%;
	margin-left:5%;
}
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	padding:0;
	font-family:'webfont';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.time{
	vertical-align: middle;
	padding-top: 10%;
}
.text{
	-webkit-appearance: none;
	text-shadow: .05em .05em .05em black;
    text-align: center;
	vertical-align: middle;
	font-size: large;
	margin-bottom: -1%;;
}
body {
	margin:0;
	background-size: 100% 100%;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	padding:0;
	font-family:'webfont';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, div::before{
	/* background: var(--background); */
  	/*background: url('/custom_css/house/img/bj3.jpg') 0 / cover fixed;*/
}
body:after
{
	background: var(--background);
	background-size:cover;
	content: "";
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	/*整体页面背景模糊*/
	-webkit-filter: blur(1px);
	filter: blur(1px);
}

.gs-w{
	width:100%;
	display:table;
	cursor:pointer;

	border-radius:15px;
	overflow: hidden;
}
.gs-w div::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: -30px;
	z-index: -1;
	/*按钮标签背景模糊*/
	-webkit-filter: blur(1px) brightness(150%) saturate(2);
	filter:var(--filter);
}

b,strong {
	font-weight:700;
}

a {
	text-decoration:none;
	color:inherit;
}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;

}

img,object {
	max-width:100%;

}

iframe {
	max-width:100%;

}

table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

td {
	vertical-align:middle;
}

ul,ol {
	padding:0;
	margin:0;
}

h4,h5,p {
	padding:0;
	margin:0;
}

h1 {
	padding:0;
	margin-top:6px;
	margin:0;
	margin-bottom:6px;
	text-align:center;
	font-size:100%;
	font-weight:800;
}

h2 {
	padding:0;
	margin:0;
	font-size:220%;
	font-weight:400;
	color:#fff;
}

h3 {
	padding:0;
	margin:0;
	font-size:125%;
	font-weight:300;
	color:#fff;
}

.dashboard_main {
	margin:0 auto;
	
}

.gridster {
	margin:0 auto;
}

.icon-background {
	pointer-events:none;
	width:100%!important;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	opacity:.1;
	font-size:1375%;
	text-align:center;
	margin-top:82px;
}

.list-nostyle {
	list-style:none;
}

.gridster ul {
	list-style:none;
}




.widget {
	padding:0;
	text-align:center;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	background-color:#444;
	border-radius: 10px;
}

.title {
	color:#fff;
}

.icon-inactive {
	color:#888;
	font-size:300%;
}
[class^="widget-basejavascript"]{
top:0;
}
.icon-active {
	font-size:300%;
}

.icon
{
  font-size: 300%;
  margin-top: -5%;
}

#container {
	padding-top:0;
}

.unit {
	font-size:130%!important;
	vertical-align:baseline!important;
}

.value
{
  color: inherit;
}

.valueunit
{
  top: 52px !important;
}

.state_text
{
  text-transform: capitalize;
  font-weight: 400;
}
